<div class="ui left vertical large demo sidebar menu" id="left-sidebar">
    <a class="item logo" href="#" id="logo-image" style="display:block;line-height: 1.2;text-align: center">
        <img class="ui small image middle aligned" src="/images/anthos-logo.png">
    </a>
    <a class="item" href="/logout">
        <i class="power off icon"></i>
        Logout
    </a>
    <!-- Modal -->
    <div id="myModal-left" class="modal fade" role="dialog">
        <div class="modal-dialog">
        </div>
    </div>
</div>